input[type=submit]{
    background-color: green;
    color: white;
}
input{
    width: 100%;
}
form{
    padding-left: 100px;
    padding-right: 100px;
}

body{
    overflow: hidden;
    background-color: skyblue;
    color: black;
}
a{
  text-decoration: none;
}
button{
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  font-family: jokerman;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  padding: 10px 16px;
  text-align: center;
  display: inline-block;
  box-shadow: 0 9px #999;
}
.options:hover{
  background-color:blue;
}
.options:active{
  background-color:brown;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h3,h2{
  color: red;
}

.head{
  color: black;
  font-size: large;
  font-family: jokerman;
}

dd {
  color: black;
  font-family: jokerman;
}

#resume{
  margin-left: 300px;
  margin-right: 20px;
}

.logo {
  width: 250px;
  height: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-image: url("Logo.png");
}

.logo:hover{
  
  background-image: url("wLogo.png");
}

#contact{
  display: none;
}
#social{
  display: none;
}
#coding{
  display: none;
}

hr{
  border-color: black;
}

div{
  padding-block: 20px;
}

p{
  text-indent: 100px;
}

table{
  border: brown;
  padding: 5px;
  text-align: center;
}

th{
  color: red;
}

::-webkit-scrollbar {
  width: 15px;
}


::-webkit-scrollbar-track {
  background-color: skyblue;
}
 
::-webkit-scrollbar-thumb {
  background: #EA4C89;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

nl{
  color: blue;
}
ul{
  color: black;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border-radius: 5px;

}
.sidebar{
position: fixed;
left: -250px;
width: 250px;
height: 100%;
background: rgba(0, 0, 0, 0.781);
transition: all .5s  ease;
}
.sidebar header{
  
  font-size: 25px;
  color: rgba(6, 5, 5, 0.509);
  text-align: center;
  line-height: 70px;
  background:rgb(183, 183, 183);
  user-select:none;
}
.sidebar ul a{
  display: block;
line-height: 65px;
font-size: 20px;
color:rgb(59, 122, 177);
padding-left: 20px;
box-sizing: border-box;
border-top: 2px solid rgb(206, 206, 49);
border-bottom: 2px solid rgb(255, 0, 0);
transition: .5s;
}
ul li:hover a{
  padding-left: 80px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  background: black;
  border-radius: 10px;
}
label #btn{
  left: 30px;
  top: 30px;
  font-size: 25px;
  color: rgb(44, 182, 118);
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{ 
  z-index: 1111;
  left: -205px;
  top: 17px;
  font-size: 20px;
  color: rgb(44, 182, 118);
  padding: 4px 9px;
  transition: all .5s ease;

}
#check:checked ~ .sidebar{
  left: 0;

}
#check:checked ~ label #btn{
      left: 250px;
      opacity: 0;
      pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 205px;
}